<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách chuẩn đầu ra</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách chuẩn đầu ra</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <div class="card-tools">
        <a routerLink="create" *ngIf="hasRoleAdmin" class="btn btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-outcome">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên</th>
          <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let outcome of listOutcome; index as i">
          <td>{{i + 1}}</td>
          <td>{{outcome.title}}</td>
          <td *ngIf="hasRoleAdmin">
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',outcome.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fas fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"
                        data-target="#modal-delete" (click)="getOutcomeId(outcome.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa chuẩn đầu ra</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa chuẩn đầu ra này</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteOutcome()">Xóa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
