<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Cập nhật thông tin lớp</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
          <li class="breadcrumb-item active">Cập nhật lớp học</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <form (ngSubmit)="updateClasses(id)">
    <div class="card card-secondary">
      <div class="card-header">
        <h3 class="card-title">Thông tin lớp học</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                  title="Collapse">
            <i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="inputName">Tên lớp học</label>
          <input type="text" id="inputName" class="form-control" [(ngModel)]="classes.name" name="name">
        </div>
        <div class="form-group">
          <label for="lecture">Coach</label>
          <select class="form-control" id="lecture" name="lecture" *ngIf="classes.lecture!=null"
                  [(ngModel)]="classes.lecture.id">
            <option [value]="-1" disabled>Chọn giảng viên</option>
            <option *ngFor="let lecture of listLecture" [value]="lecture.id"
                    [selected]="lecture.id == classes.lecture.id">
              {{lecture.name}}
            </option>
          </select>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <div class="row">
      <div class="col-12">
        <a routerLink="/" class="btn btn-secondary">Hủy</a>
        <input type="submit" value="Cập nhật" class="btn btn-success float-right">
      </div>
    </div>
  </form>
</section>
<!-- /.content -->
