<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Đánh giá chi tiết</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
          <li class="breadcrumb-item active">Đánh giá chi tiết</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="card-header">
    <h3 class="card-title">Tạo đánh giá</h3>
  </div>
  <form id="evaluation-form" (ngSubmit)="createMultiEvaluationDetail(listEvaluationDetail)">
    <div class="card-body">
      <div class="form-group">
        <label for="evaluations">Tên bản đánh giá</label>
        <input type="text" id="evaluations" [value]="evaluation!= null && evaluation.name"
               class="form-control" disabled>
      </div>
      <div class="form-group">
        <label for="evaluation_choice">Đánh giá tất cả</label>
        <select class="custom-select" id="evaluation_choice" name="evaluation_choice" [(ngModel)]="evaluationChoice"
                (change)="setAllEvaluation()">
          <option [ngValue]="null">Chọn mức đánh giá</option>
          <option *ngFor="let evaluation of listEvaluation" [value]="evaluation">{{evaluation}}</option>
        </select>
      </div>
      <div class="row" *ngFor="let outcome of listOutcome;index as i">
        <div class="col-12">
          <div class="row">
            <label class="col-10">{{outcome.title}}</label>
            <div class="form-group col-2">
              <select class="custom-select" [(ngModel)]="evaluationOutcomeChoice[i]"
                      [ngModelOptions]="{standalone: true}"
                      (change)="setAllEvaluationByOutcome(outcome.id, i)">
                <option [ngValue]="null">Chọn mức đánh giá</option>
                <option *ngFor="let evaluation of listEvaluation" [value]="evaluation">{{evaluation}}</option>
              </select>
            </div>
          </div>
          <div class="row" *ngFor="let category of outcome.categories; index as j">
            <div class="col-12">
              <div class="row">
                <label class="col-10">{{category.categoryId}} {{category.name}}</label>
                <div class="form-group col-2">
                  <select class="custom-select" [(ngModel)]="evaluationCategoryChoice[j]"
                          [ngModelOptions]="{standalone: true}"
                          (change)="setAllEvaluationByCategory(category.id, j)">
                    <option [ngValue]="null">Chọn mức đánh giá</option>
                    <option *ngFor="let evaluation of listEvaluation" [value]="evaluation">{{evaluation}}</option>
                  </select>
                </div>
              </div>
              <div class="row" *ngFor="let skill of category.skills; index as k">
                <div class="col-1">
                  <label>{{skill.skillId}}</label>
                </div>
                <div class="form-group col-9">
                  <input type="text" id="skills_{{k}}" name="skills" class="form-control"
                         [value]="skill.name" disabled>
                </div>
                <div class="form-group col-2">
                  <select class="custom-select" id="evaluation_{{k}}" name="evaluation"
                          [(ngModel)]="evaluationDetail.evaluation"
                          (change)="addEvaluationDetailToList(skill, k)">
                    <option [ngValue]="null" disabled
                            [selected]="evaluationChoice==null || evaluationCategoryChoice[j] == null">Chọn mức đánh giá
                    </option>
                    <option *ngFor="let evaluation of listEvaluation" [value]="evaluation"
                            [selected]="evaluationChoice==evaluation|| evaluationCategoryChoice[j] == evaluation
                             || evaluationOutcomeChoice[i] == evaluation">{{evaluation}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a routerLink="/" class="btn btn-secondary">Hủy</a>
          <input type="submit" value="Tạo mới" class="btn btn-success float-right">
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </form>
</section>
<!-- /.content -->
