<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thêm kỹ năng</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thêm kỹ năng</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <form (ngSubmit)="createMultiSkill()">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Thông tin kỹ năng</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                  title="Collapse">
            <i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="data">Nội dung</label>
          <textarea class="form-control" rows="20" placeholder="Paste ..." id="data" [(ngModel)]="data"
                    name="data"></textarea>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <div class="row">
      <div class="col-12">
        <a routerLink="/" class="btn btn-secondary">Hủy</a>
        <input type="submit" value="Tạo mới" class="btn btn-success float-right">
      </div>
    </div>
  </form>
</section>
<!-- /.content -->
