<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thông tin học viên</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thông tin học viên</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="../../../assets/static/img/user.png"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{student.name}}</h3>

            <p class="text-muted text-center">{{student.studentId}}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Số lượng dự án</b> <a class="float-right">{{listProducts.length}}</a>
              </li>
              <li class="list-group-item">
                <b>Các khóa học đã hoàn thành</b> <a class="float-right">{{numberOfCertificateIsCompleted}}/3</a>
              </li>
              <li class="list-group-item">
                <b>Số lượng bản đánh giá</b> <a class="float-right">{{listEvaluations.length}}/6</a>
              </li>
            </ul>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Thông tin chi tiết</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-map-marker-alt mr-1"></i> Lớp học</strong>

            <p class="text-muted">
              {{student.classes != null && student.classes.name}}
            </p>

            <hr>

            <strong><i class="fas fa-book mr-1"></i> Module</strong>

            <p
              class="text-muted">{{student.classes != null && student.classes.module != null && student.classes.module.name}}</p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Ghi chú</strong>

            <p class="text-muted"></p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#product" data-toggle="tab">Sản phẩm</a></li>
              <li class="nav-item"><a class="nav-link" href="#online-course" data-toggle="tab">Khóa học</a></li>
              <li class="nav-item"><a class="nav-link" href="#evaluation" data-toggle="tab">Đánh giá</a></li>
              <li class="nav-item"><a class="nav-link" href="#evaluation-list" data-toggle="tab">Bản đánh giá</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="product">
                <!-- Post -->
                <button class="btn btn-primary" (click)="showCreateForm()">Thêm sản phẩm</button>
                <table class="table table-bordered" id="table-product">
                  <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Tên sản phẩm</th>
                    <th>Link sản phẩm</th>
                    <th>Ghi chú</th>
                    <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let product of listProducts; index as i">
                    <td>{{i + 1}}</td>
                    <td>
                      {{product.name}}
                    </td>
                    <td>{{product.linkProduct}}</td>
                    <td>{{product.notice}}</td>
                    <td *ngIf="hasRoleAdmin">
                      <div class="row">
                        <div class="col-6">
                          <a [routerLink]="['edit',product.id]" class="btn btn-block btn-primary" style="color: white">
                            <i class="fas fa-edit"></i>
                          </a>
                        </div>
                        <div class="col-6">
                          <button type="button" class="btn btn-block btn-danger" style="color: white"
                                  data-toggle="modal"
                                  data-target="#modal-delete1" (click)="getProductId(product.id)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <form (ngSubmit)="createProduct()" *ngIf="isShowed">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Thêm sản phẩm</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="productId">Tên sản phẩm</label>
                        <input type="text" id="productId" class="form-control" name="name" [(ngModel)]="product.name">
                      </div>
                      <div class="form-group">
                        <label for="linkProduct">Link sản phẩm</label>
                        <input type="text" id="linkProduct" class="form-control" name="linkProduct"
                               [(ngModel)]="product.linkProduct">
                      </div>
                      <div class="form-group">
                        <label for="notice">Ghi chú</label>
                        <input type="text" id="notice" class="form-control" name="notice"
                               [(ngModel)]="product.notice">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <input type="submit" value="Tạo mới" class="btn btn-success float-right">
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="online-course">
                <!-- The timeline -->
                <table class="table table-bordered" id="table-online-course">
                  <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Tên khóa học</th>
                    <th>Đánh giá</th>
                    <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let onlineCourse of listOnlineCourses; index as i">
                    <td>{{i + 1}}</td>
                    <td>
                      {{onlineCourse.name}}
                    </td>
                    <td *ngIf="!isEditOnlineCourse || index!=i">
                      {{onlineCourse.complete ? 'Đã hoàn thành' : 'Chưa hoàn thành'}}
                    </td>
                    <td *ngIf="isEditOnlineCourse && index == i">
                      <select class="custom-select" (ngModelChange)="saveCertificate(onlineCourse)"
                              [(ngModel)]="certificate.complete" name="complete">
                        <option [value]="false">Chưa hoàn thành</option>
                        <option [value]="true">Đã hoàn thành</option>
                      </select>
                    </td>
                    <td *ngIf="hasRoleAdmin">
                      <div class="row">
                        <a (click)="showEditForm(onlineCourse, i)" class="btn btn-block btn-primary"
                           style="color: white">
                          <i class="fas fa-edit"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="evaluation">
                <form class="form-horizontal" (ngSubmit)="createEvaluation(listEvaluations.length)">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Tên bản đánh giá</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="evaluations.name"
                             placeholder="Tên bản đánh giá">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="date" class="col-sm-2 col-form-label">Ngày tạo</label>
                    <div class="col-sm-10">
                      <input id="date" type="date" class="form-control" name="createDate"
                             data-inputmask-inputformat="dd/mm/yyyy" [(ngModel)]="evaluations.createDate">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="evaluation1" class="col-sm-2 col-form-label">Đánh giá</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="evaluation1" placeholder="Đánh giá"
                             [(ngModel)]="evaluations.evaluation" name="evaluation">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="advantage" class="col-sm-2 col-form-label">Ưu điểm</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="advantage" [(ngModel)]="description.advantages"
                             placeholder="Ưu điểm" name="advantages"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="achiles" class="col-sm-2 col-form-label">Nhược điểm</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="achiles" [(ngModel)]="description.achiles"
                             id="achiles" placeholder="Nhược điểm">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="suggestion" class="col-sm-2 col-form-label">Gợi ý cho doanh nghiệp</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="suggestion" placeholder="Gợi ý cho doanh nghiệp"
                                name="suggestion" [(ngModel)]="description.suggestion"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Tạo</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane" id="evaluation-list">
                <!-- The timeline -->
                <table class="table table-bordered" id="table-evaluations">
                  <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Tên bản đánh giá</th>
                    <th>Ngày tạo</th>
                    <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let evaluations of listEvaluations; index as i">
                    <td>{{i + 1}}</td>
                    <td>
                      <a [routerLink]="['../../../evaluations/info',evaluations.id]">
                        {{evaluations.name}}
                      </a>
                    </td>
                    <td>
                      {{convertDateToString(evaluations.createDate)}}
                    </td>
                    <td *ngIf="hasRoleAdmin">
                      <div class="row">
                        <div class="col-4">
                          <a (click)="generatePdf('open',student, evaluations, listEvaluations)"
                             class="btn btn-block btn-success"
                             style="color: white">
                            <i class="fas fa-file-export"></i>
                          </a>
                        </div>
                        <div class="col-4">
                          <a [routerLink]="['edit',evaluations.id]" class="btn btn-block btn-primary"
                             style="color: white">
                            <i class="fas fa-edit"></i>
                          </a>
                        </div>
                        <div class="col-4">
                          <button type="button" class="btn btn-block btn-danger" style="color: white"
                                  data-toggle="modal"
                                  data-target="#modal-delete2" (click)="getEvaluationId(evaluations.id)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
  <div class="modal fade" id="modal-delete1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa sản phẩm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn sản phẩm này</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct()">Xóa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="modal-delete2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa bản đánh giá</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn bản đánh giá này</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteEvaluations()">Xóa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
