<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách học viên</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách học viên</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        {{classes.name}}
      </h3>
      <div class="card-tools">
        <a routerLink="create" *ngIf="hasRoleAdmin" class="btn btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-students">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Mã học viên</th>
          <th>Tên học viên</th>
          <th>Lớp</th>
          <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of listStudents; index as i">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info',student.id]">{{student.studentId}}</a>
          </td>
          <td>{{student.name}}</td>
          <td>{{student.classes != null ? student.classes.name : ''}}</td>
          <td *ngIf="hasRoleAdmin">
            <a [routerLink]="['edit',student.id]" class="btn btn-block btn-primary" style="color: white">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
